{
    "env": {
        'es6': true,        
        'browser': true,  
        'commonjs': true
    },
    "modules": true,
    "ecmaFeatures": {
      "modules": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "babel"
    ],
    "extends": [
        "eslint:recommended"
    ]
}
